
body {
  font-family: Times New Roman, sans-serif;
  text-align: center;
}

.merch {
  color: blue;
}

.container {
  padding: 0 40px;
  margin-left: 100px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 30px 0;
}

button {
  font-size: 40px;
  color: green;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #FFD700;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 50px;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:darkred;
}